body {
  margin: 0;
}
.App{
  position: relative;
}

.loading-spinner{
  position:absolute;
  right:30px;
  top:60px
}
.movie-card-wrapper, .actor-card-wrapper{
  height:450px
}
.movie-card, .actor-card{
  height:100%
}

.image {
  text-align: center;
}


